.fieldset1 {
    width: 90%;
    margin: .5rem auto ;
    padding: 0;
}

.form1 {
    width: 30rem;
    margin: 0 auto 0;
    padding: 1rem 0;
    background-color: white;
}

.invalid {
    width: 100%;
    text-align: center;
    background-color: inherit;
    color: inherit;
    font-weight: normal;
    color: red;
    margin-top: 0;
}

.darkForm {
    background-color: rgba(128, 128, 128, 0.363);
}

.fieldset1:focus-within {
    border-color: steelblue;
    outline-color: steelblue;
}

.fieldset1:focus-within>legend {
    color: steelblue;
}

.input1 {
    border: none;
    outline: none;
    resize: none;
    font-size: 1.1rem;
    background-color: inherit;
    color: inherit;
    width: 96%;
    height: 2rem;
    padding-left: 1rem;
}


.file {
    display: none;
}

.profilePicPlus {
    cursor: pointer;
    width: 7rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    border-radius: 100%;
    border: 1px dotted gray;
}


.input1:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    transition-delay: 36000000000s;
}

.input1:focus {
    outline: none;
    border: none;
}

.btnLog {
    display: block;
    margin: 1rem auto 0;
    padding: .5rem .5rem;
    background-color: inherit;
    color: inherit;
    border: 1px dotted gray;
    outline: none;
    font-size: 1rem;
}

.btnSubmit {
    display: block;
    margin: 2rem auto 0;
    padding: .9rem 0;
    width: 13rem;
    text-align: center;
    text-transform: capitalize;
    background-color: steelblue;
    color: white;
    border: none;
    outline: none;
    font-size: 1.2rem;
}

.google {
    display: block;
    width: fit-content;
    text-align: center;
    margin: 1rem auto 0;
    font-weight: bolder;
}

@media screen and (max-width : 600px) {
    .form1 {
        width: 80%;
    }
}